
	<%= form_tag url_for(action: 'update'), method: "patch", multipart: true do %>
    <div class="form-group">
        <h5 class="text-primary">Your comment</h5>
        <%= text_area_tag 'description', @comment.description, class: "form-control", placeholder: "Description" %>
    </div>
    <div>
        <%= submit_tag "edit comment", class: "btn btn-primary mt-3 mb-3 " %>
    </div>
<% end %>