<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>


<li><%= @user.username %></li>
<li><%= @user.last_name %></li>
<li><%= @user.first_name %></li>
<li><%= @user.email %></li>





